.footerContainer {
    text-align: center;
    margin: 2rem 0 0 0;
    padding: 1rem 0 1rem 0;
    background: linear-gradient(235deg, rgb(7, 7, 7), rgb(36, 36, 36));
}


.myName {
    color: white;
    font-size: 1.6rem;
    font-weight: 200;
    margin-bottom: 1rem;
}