.headContainer {
    background: rgb(24, 24, 24);
    border-bottom: 2px solid white;
}

.headUl {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    font-size: 1.4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.headLi {
    color: rgb(241, 241, 241);
    list-style-type: none;
    display: inline;
    transition: all 0.3s ease-in;
}

.headLi:hover {
    color: gray;
    transition: all 0.3s ease-in;
}